﻿

@model IEnumerable<WebBanHang.Models.Product>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h2 class="mb-0">PRODUCTS</h2>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <a class="btn btn-success" asp-action="Add">Add Product</a>
                        <a class="btn btn-success" asp-controller="Category" asp-action="Index">Category</a>

                    </div>
                    <div class="row">
                        @foreach (var product in Model)
                        {
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                                    <div class="card-body">
                                        <h5 class="card-title">@product.Name</h5>
                                        <p class="card-text">Price: @product.Price</p>
                                        <p class="card-text">Description: @product.Description</p>
                                        <p class="card-text">Category: @product.Category?.Name</p>

                                        <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                                            <input type="hidden" name="productId" value="@product.Id" />
                                            <div class="input-group mb-3">
                                                <input type="number" class="form-control" name="quantity" value="1" min="1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="submit">Add to Cart</button>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="text-center">
                                            <a class="btn btn-warning btn-sm" asp-action="Display" asp-route-id="@product.Id">View</a>
                                            <a class="btn btn-success btn-sm" asp-action="Update" asp-route-id="@product.Id">Edit</a>
                                            <a class="btn btn-dark btn-sm" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
