﻿@model ShoppingCart

<div class="bg-white" style="padding: 20px;">
    <h2>Your Cart</h2>

    <div class="row row-cols-1 row-cols-md-3">
        @foreach (var item in Model.Items)
        {
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="@Url.Content(item.ImageUrl)" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Quantity: @item.Quantity</p>
                        <p class="card-text">Price: @item.Price</p>
                        <p class="card-text">Total: @(item.Price * item.Quantity)</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("RemoveFromCart", "ShoppingCart", new { productId = item.ProductId })" class="btn btn-danger">Remove</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="text-center mt-3">
        <a href="@Url.Action("Checkout", "ShoppingCart")" class="btn btn-primary">Proceed to Checkout</a>
        <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Back to Products</a>
    </div>
</div>



